{% extends  'atm/base.html' %}
{% block title %} Clients {% endblock %}
{% block content %}
    <h3 class="heading-1"><span>Clients</span></h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>DNI</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.name }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.phone }}</td>
                <td>{{ client.dni }}</td>
                <td>
                    <a href="{% url 'atm:edit_client' client.id %}"><i class="icons fa fa-edit"></i></a>
                    <a href="{% url 'atm:delete_client' client.id %}"><i class="icons fa fa-trash text-danger"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}