{% extends  'gentelella/base.html' %}
{% load static %}
{% block title  %} ATM {% endblock %}

{% block extra_css  %}{% endblock %}

{% block top_navigation %}
<div class="top_nav ">
    {% include "atm/top_navigation.html" %}
</div>
{% endblock top_navigation %}

{% block sidebar %}
<div class="col-md-3 left_col {% block sidebar_class %} {% endblock sidebar_class %}">
    {% include "atm/sidebar.html" %}
</div>
{% endblock sidebar %}


{% block content_block_wrap %}
{% block content %}

{% endblock content %}
{% endblock %}

{% block javascript  %}{{ block.super }}{% endblock %}

