{% extends  'atm/base.html' %}
{% block title %} Edit account {% endblock %}
{% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <form action="{% url 'atm:edit_account' account.id %}" method="post" class="card card-body mt-5">
                <h1 class="text-center">Edit account</h1>
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}

                {% csrf_token %}

                {{ form.as_p }}

                <button class="btn btn-primary" type="submit">Save</button>
            </form>
        </div>
    </div>
</main>
{% endblock %}